<form>
    <div class="form-group">
        <p>You can donate via our Paypal link below, or if you prefer to send a check through the mail, please address it to:</p>
        <p>
            <ul>
                <li>Angels of Heart Inc.</li>
                <li>P.O Box 1196</li>
                <li>Brentwood, TN 37135</li>
            </ul>
        </p>
        
    <div>
        <a class="DanchorTag" href="http://paypal.com">Donate Via PayPal to Angels Of Heart Inc</a>
    </div>
</form>

