<div class="row">
    <div class="col-md-4">
        <img src="~/content/SqaredGiftsTrevecca.jpg" />
   
        <img src="~/content/Squared_5112033489369130987_n.jpg" />
    
        <img src="~/content/Squared_6607987977914562300_n.jpg" />

        <img src="~/content/Squared_6962757231694168359_n.jpg" />

        <img src="~/content/Squared_7026916561374385083_n.jpg" />

        <img src="~/Content/Squared_8171269234420172811_n.jpg"/>

    </div>
</div>
<form>
    <div class="form-group">
        <label for="formGroupExampleInput">GALLERY PAGE</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
</form>