<div class="jumbotron">
    <h1>Angels of Heart</h1>
    <p class="lead">
        Angels of Heart is a faith-based non-profit organization committed to
        helping forgotten people in the name of Jesus Christ.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>WHO WE ARE</h2>
        <p>
            Sadie Rice, Founder and President of Angels of Heart, wants to listen for
            the leading of the Lord in service to others.  She has steadfastly served
            and worked to keep this organization about service in the name of Jesus
            Christ. Both Catholic and Protestant believers join in this mission and
            serve on the Board of the organization.

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>UPCOMING EVENTS</h2>
        <p>
            We have three major events each year that we create and manage each year.
            As we are able to scale as an organization, we will have additional or
            ongoing opportunities for assisting those in need.
            We plan to have an event in August, October, and December 2017. Details
            will be listed here as they are available.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Volunteer", "Volunteer", "Home", new { area = "" }, null)</a></p>
    </div>

    <div class="col-md-4">
        <h2>WHAT WE DO</h2>
        <p>
            Our wonderful volunteers love to serve others. Whether it is collecting
            goods for needy elderly, or taking food to The Branch food ministry, our
            volunteers enjoy finding a need and filling it with their own hands. For one
            project, we collected socks and other items for Christmas gifts to
            the needy elderly who are at Trevecca Towers. Our volunteers also enjoyed
            gathering clothing and other items for families in need in El Salvadore
            and sending them to associates in El Salvadore to fill this great need.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Donate", "Donate", "Home", new { area = "" }, null)</a></p>
    </div>
</div>
