<holdingcontainer class="holdingContainer">
    <div><h2 class="welcomeVolunteerHeading">Yes, I want to volunteer!</h2></div>
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Preferred First Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="John">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Last Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Doe">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Professional Title</label>
            <input type="text" class="form-control" id="formGroupTitle" placeholder="Accounting Clerk">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="text" class="form-control" id="formGroupEmail" placeholder="email@email.com">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Best Phone Number To Reach You</label>
            <input type="text" class="form-control" id="formGroupPhoneNumber" placeholder="615-999-9999">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">What kinds of activities would you like to do?</label>
            <input type="textarea" class="form-control" id="formGroupAreaOfInterest" placeholder="teach skills, gather clothing">
        </div>
        <button class="submitButtonVolunteerPage">Submit</button>
        <br/>
        <br/>
        <div>
            <p class="volunteerForm">Please note our commitment to your privacy: </p>
            <p class="volunteerForm">We will not sell or knowingly share any information you share with us.</p>
        </div>
        
    </form>
</holdingcontainer>
